<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width">
<title>Login Indicadores NETO</title>

<link rel="stylesheet" href="../js/libs/foundation/css/normalize.css">
<link rel="stylesheet" href="../js/libs/foundation/css/foundation.css">
<link rel="stylesheet" href="../css/login/loginFlat.css">
<script src="../js/libs/foundation/js/vendor/jquery.js"></script>
<script src="../js/libs/foundation/js/vendor/custom.modernizr.min.js"></script>
<script src="../js/libs/foundation/js/foundation.min.js"></script>

<script type="text/javascript" src="../js/libs/loadingoverlay.min.js"> </script>
<script type="text/javascript" src="../js/libs/loadingoverlay.js"> </script>

<script src="../js/crypt/pidcrypt.js"></script>
<script src="../js/crypt/pidcrypt_util.js"></script>
<script src="../js/crypt/asn1.js"></script>
<script src="../js/crypt/jsbn.js"></script>
<script src="../js/crypt/rng.js"></script>
<script src="../js/crypt/prng4.js"></script>
<script src="../js/crypt/rsa.js"></script>

<script type="text/javascript" src="../js/accionesLogin/accionesLogin.js"> </script>



</head>
<body>
<!-- JavaScript deshabilitado -->
	<noscript>
		<h1>No tienes soporte para Javascript, por favor actívalo en tu
			navegador.</h1>
	</noscript>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div class="header"><img src="../images/img_logo.png"></img></div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	
	<div class="cajaTextoLogin">
		<div style="padding-top: 25px;padding-left: 25px;font-family: Helvetica;font-size: 20px;">
<!-- 			<input type="text" id="usuarioId" placeholder="Usuario" class="textoDatos" size="27"  -->
<!-- 				type="number" pattern="[0-9]{5,10}" title="Introduzca su Usuario y presione ENTER"  -->
<!-- 				onkeydown="presionaEnter(1,event);" onkeypress="return soloNumeros(event);" maxlength="10"/> -->
				<input type="text" id="usuarioId" placeholder="Usuario" class="textoDatos" size="27" 
				       pattern="[0-9]{5,10}" title="Introduzca su Usuario y presione ENTER" 
				       onkeydown="presionaEnter(1,event);" onkeypress="return soloNumeros(event);" maxlength="10"/>
		</div>
	
		<div style="padding-left: 25px;font-family: Helvetica;font-size: 20px;">
			<input type="password" id="passId" placeholder="Contrase&ntilde;a" class="textoDatos" 
				size="27" title="Introduzca su Contraseña y presione ENTER" 
				onkeydown="presionaEnter(2,event);" maxlength="30" />
		</div>
		
		<div style="position: relative;float: right;top: -98px;left: 36px;display:none;"><img style="width: 75px;" src="images/flat/btnPlay.png"></img></div>
		<div class="separador"></div>
	</div>
	
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	
	<div id="contenedorPrincipal" class="row large-3 small-9">
		
		<div id="bloqMayusIndicador"
			style="position:absolute;font: 11px Arial, Helvetica, sans-serif; color: #cf4e00; padding-left: 30px; margin-left: 0px; margin-top: -30px; background: url('images/ico-warning.gif') 0% 0% no-repeat; display: none;">
			Bloq May&uacute;s activado</div>
			
<!-- 	 	<span style="padding-top: 110px;"></span> -->

		<div class="loginCaptcha" style="display:none;">
				<div style="width: 60%;margin: 13px auto;"><label id="labelCaptcha" for="captcha">Introduce los caracteres:</label></div> 
				<div style="width: 70%;margin: -7px auto;"><input type="text" id="captcha" name="kaptcha" value=""	onkeydown="presionaEnter(3,event);" style="width: 201px;" maxlength="10"/></div>
				<div style="width: 70%;margin: 0 auto;">
					<div><img src="../kaptcha.jpg" id="captchaIMG" style="margin-left: 0px;"/></div>
					<div id="captchaIMGre">
						<!-- <img src="images/ico_Refresh.png" style="padding-top: 10px;"></img> -->
					</div>
				</div>
		</div>
		<label for="error" id ="errorMsj"></label>	
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		<div class="loginContBoton">
			<button type="button" id="loginBoton" onclick="ingresar();" onkeydown="presionaEnter(4,event);" title="Ingresar a la Aplicación">ENTRAR</button>
		</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
	</div>
	<script>
		$(document).foundation();
	</script>
</body>
</html>